<ion-content>

    <img class="logo" src="../../assets/images/Logo.jpeg">


    <div class="form-menu">

        <mat-form-field class="form-input">
            <mat-label>Email</mat-label>
            <input type="email" matInput [(ngModel)]="email">
        </mat-form-field>

        <mat-form-field class="form-input">
            <mat-label>Senha</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button mat-raised-button color="primary" class="enter" (click)="login()">Entrar</button>
        <button mat-raised-button color="primary" class="register" routerLink="/register-page">Cadastre-se</button>
    </div> 
    <p class="forgot-password" routerLink="/forget-password">Esqueci minha senha</p>
</ion-content>