<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
        <ion-icon name="arrow-back-outline" class="arrow-back" routerLink="/tabs/home">
        </ion-icon>
        Avaliar Estabelecimento
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Diga-nos o que achou do estabelecimento</h2>

  <div class="rating-container">
    <ngb-rating [(rate)]="currentRate" [max]="5">
      <ng-template let-fill="fill" let-index="index">
        <span class="star" [class.filled]="fill === 100">&#9733;</span>
      </ng-template>
    </ngb-rating>
  </div>

  <button mat-raised-button class="rating-button" (click)="rate()">Avaliar</button>

  <div class="rating-list">
    <div class="star-container">
      <div class="stars">
        <ion-icon name="star" *ngFor="let star of createStars(5)"></ion-icon>
      </div>
      <div>
        <p class="rating-title">Excelente</p>
        <mat-icon>sentiment_very_satisfied</mat-icon>
      </div>
    </div>


    <div class="star-container">
      <div class="stars">
        <ion-icon name="star" *ngFor="let star of createStars(4)"></ion-icon>
      </div>

      <div>
        <p class="rating-title">Bom</p>
        <mat-icon>sentiment_satisfied</mat-icon>
      </div>
    </div>


    <div class="star-container">
      <div class="stars">
        <ion-icon name="star" *ngFor="let star of createStars(3)"></ion-icon>
      </div>
      <div>
        <p class="rating-title">Mediano</p>
        <mat-icon>sentiment_neutral</mat-icon>
      </div>
    </div>


    <div class="star-container">
      <div class="stars">
        <ion-icon name="star" *ngFor="let star of createStars(2)"></ion-icon>
      </div>
      <div>
        <p class="rating-title">Ruim</p>
        <mat-icon>sentiment_dissatisfied</mat-icon>
      </div>
    </div>


    <div class="star-container">
      <div class="stars">
        <ion-icon name="star"></ion-icon>
      </div>
      <div>
        <p class="rating-title">Pessímo</p>
        <mat-icon>sentiment_very_dissatisfied</mat-icon>
      </div>
    </div>

  </div>

</ion-content>