<ion-header>
  <ion-toolbar>
   
    <ion-title>
      <div class="header-title">
      <ion-icon name="arrow-back-outline" class="arrow-back" (click)="goBack()">
      </ion-icon>
       Histórico
      </div>
    </ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header">
    <span class="header-collumn">Nome</span>
    <span class="header-collumn">Horário</span>
    <span class="header-collumn">Preço</span>
  </div>

  <div class="line">
      <span class="line-content">Estacionamento Sol nascente</span>
      <span class="line-content">20:30</span>
      <span class="line-content">R$50</span>
  </div>

</ion-content>
