<ion-header>
  <ion-toolbar>
   
    <ion-title>
      <div class="header-title">
      <ion-icon name="arrow-back-outline" class="arrow-back" (click)="goBack()">
      </ion-icon>
       Histórico
      </div>
    </ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content>

<div class='table'>
  <div class="header">
    <span class="header-collumn">Nome</span>
    <span class="header-collumn">Data</span>
    <span class="header-collumn">Preço</span>
  </div>

  <div class="line">
      <span class="line-content">Estacionamento Sol nascente</span>
      <div class="line-content date">
        <span class="day">13/11/2021</span>
        <span>20:30</span>
        <mat-icon>arrow_downward</mat-icon>
        <span>20:30</span>
      </div>
      <span class="line-content value">R$50</span>
  </div>
</div>

</ion-content>
