.header {
    background: #e3e3e3;
    font-size: 16px;
    font-weight: bold;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-right: 1px solid;
    span {
        padding-left: 16px;
        border-right: 1px solid;
        border-right-style: groove;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

.line {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-weight: 400;
    .line-content {
        padding-top: 8px;
        padding-left: 16px;
        border-right: 1px solid;
        border-right-style: groove;
        height: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid lightgrey;
        padding: 8px;
    }
}

.table {
    height: 100%;
    width: 100%; 
}

.date {
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.day {
    font-weight: bold;
    padding-bottom: 8px;
}

.value {
    padding: 16px;
}