<ion-content>

  <div class="close-button">
    <ion-icon name="close-outline" class="close" (click)="close()"></ion-icon>
  </div>

  <h2 class="title">Digite o código de 8 digitos inserido na vaga</h2>

  <div class="code-container">
    <mat-form-field class="input-container" appearance="outline" color="primary">
      <mat-label>Digite o código</mat-label>
      <input matInput type="number" placeholder="Ex: 54620007" 
        (keypress)="aceptCode($event)">
    </mat-form-field>
    <mat-icon>check_circle</mat-icon>
  </div>
</ion-content>
