<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
        <ion-icon name="arrow-back-outline" class="arrow-back" routerLink="/tabs/home">
        </ion-icon>
          Solicitação de vaga
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="checked-container">
  <h2>Aluguel Solicitado!</h2>
  <img src='../../assets/images/checked.jpg'>
  </div>
  
  <button mat-raised-button class="rent-details" routerLink="/tabs/QRCode">Escanear QrCode</button>
</ion-content>