<ion-content>
  <img src="../../assets/images/Logo.jpeg">

<ion-slides pager="true" [options]="slideOpts">

<ion-slide>
  <img src="../../assets/images/carro.jpg">
  <h2>Bem vindo ao Smart Parking</h2>
  <p>Nós te ajudamos a encontrar o melhor estacionamento mais próximo do seu destino!</p>
</ion-slide>

<ion-slide>
  <img src="../../assets/images/happy.jpg">
  <h2>O melhor estacionamento</h2>
  <p>Chega de ficar horas rodando em busca de um estacionamento</p>
</ion-slide>

<ion-slide>
  <img src="../../assets/images/lava-rápido.jpg">
  <h2>Mais que uma vaga</h2>
  <p>Aproveite os incriveis serviços oferecidos!</p>
</ion-slide>


</ion-slides>

<div class="container-buttons"> 
  <div class="buttons">
      <button mat-stroked-button class="login" routerLink="/login-page">Já possuo uma conta</button>
      <button mat-stroked-button class="cadastre" routerLink="/register-page">Cadastre-se</button>
  </div>
  </div>

</ion-content>
