<ion-header>
  <ion-toolbar>
   
    <ion-title>
      <div class="header-title">
      <ion-icon name="arrow-back-outline" class="arrow-back" (click)="goBack()">
      </ion-icon>
      Contratos mensais
      </div>
    </ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content>
    
  <mat-tab-group dynamicHeight mat-align-tabs="center" mat-stretch-tabs>

    <mat-tab>

      <ng-template mat-tab-label>
        <span>Ativos</span>
      </ng-template>
      
     
      <h1>Contratos ativos</h1>
   

      <mat-card>
        <mat-card-title>Estacionamento Sol nascente</mat-card-title>
        <mat-card-content>
          <div class="card-content">
            <span>Valido até: 05/08</span>
            <span>Cartão final 5002</span>
            <span class="value">R$100</span>
          </div>


          <div class="buttons">
          <button mat-button class="cancel">Cancelar Contrato</button>
        </div>
        </mat-card-content>
      </mat-card>
  </mat-tab>


  <mat-tab>
      <ng-template mat-tab-label>
        <span>Outros</span>
      </ng-template>

      <div>
          <h1>Histórico de contratos</h1>
      </div>


      <mat-card>
        <mat-card-title>Estacionamento Osasco</mat-card-title>
        <mat-card-content>
          <div class="card-content">
            <span>Valido até: 04/01</span>
            <span>Cartão final 4008</span>
            <span class="value">R$60</span>
          </div>
        </mat-card-content>
      </mat-card>
      

    </mat-tab>
  </mat-tab-group>
</ion-content>
