<ion-content>

  <h2 class="title">Configurações da Conta</h2>

  <div class="perfil-image-container">
    <ion-avatar>
      <img src="../../assets/images/slack perfil.jpeg">
    </ion-avatar>
    <h2 class="welcome-message">Olá {{user.name}}</h2>
  </div>


  <ion-item-divider></ion-item-divider>
  <ion-item-divider  routerLink="/register-informations">
    <div class="name">
      <ion-label>
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-label>
      <p class="option-text">Cadastro</p>
    </div>

    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </ion-item-divider>
<!-- 
  <ion-item-divider>
    <div class="name">
      <ion-label>
        <ion-icon name="car-outline"></ion-icon>
      </ion-label>
      <p class="option-text">Locação de Vagas</p>
    </div> -->

    <!-- <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </ion-item-divider> -->

  <ion-item-divider routerLink="/monthly-lease">

    <div class="name">
      <ion-label>
        <ion-icon name="book-outline"></ion-icon>
      </ion-label>
      <p class="option-text">Contratos Mensais</p>
    </div>

    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </ion-item-divider>

  <ion-item-divider routerLink="/payment-management"> 

    <div class="name">
      <ion-label>
        <ion-icon name="card-outline"></ion-icon>
      </ion-label>
      <p class="option-text">Pagamentos</p>
    </div>

    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </ion-item-divider>

  <ion-item-divider routerLink="/historic">

    <div class="name">
      <ion-label>
        <ion-icon name="document-text-outline"></ion-icon>
      </ion-label>
      <p class="option-text">Histórico de locações</p>
    </div>

    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </ion-item-divider>

  <ion-item-divider (click)="logoutConfirmationMessage()">
    <div class="name">
      <ion-label>
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-label>
      <p class="option-text">Sair</p>
    </div>

    <div class="arrow">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </ion-item-divider>
</ion-content>