.perfil-image-container {
    display: flex;
    flex-direction: row;
    padding-left: 16px;
    margin-top: 32px;
}

.name-container {
    padding-left: 8px;
}

.user-informations {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    background: azure;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 8px;
    margin-top: 50px;
    h2 {
        margin-left: 8px;
        text-align: center;
        font-size: 18px
    }

    span {
        margin-left: 8px;
    }
}

.car-informations {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    padding-left: 16px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    background: lightgoldenrodyellow;
    width: 90%;
    margin-left: 5%;
    border-radius: 10px;
    padding: 8px;

    h2 {
        margin-left: 8px;
        text-align: center;
        font-size: 18px;
    }
    
    span {
        margin-left: 8px;
    }
}

.edit-container {
    height: 42px;
    background: azure;
    width: fit-content;
    padding: 0 8px;
    margin: 16px;
    border-radius: 40px;
    display: flex;
    align-items: center;

    span {
        font-size: 16px;
        font-weight: 400;
        padding: 8px;
    }
  
}

.informations-title {
    width: 100%;
    display: flex;
}

.email {
    font-size: 16px;
}