 
 <ion-icon name="close-outline" class="close" (click)="close()"></ion-icon>
 
 <QRCode  [entrance]="entrance" 
          [exit]="exit"
          (activeEntrance)="recebeBoolean($event)"
          (activeExit)="scanExit($event)">   
 </QRCode>


 <h1>{{activeEntrance}}</h1>
 <video #video [hidden]="!activeEntrance && !activeExit" width='100%'></video>
 <canvas #canvas hidden></canvas>

 <div class="code-container">
     <div class="input-container">
    <mat-label>Digite o código</mat-label>
    <input matInput [maxlength]="8" type="number" placeholder="Ex: 54620007">
      </div>
    <ion-icon name="checkmark-circle-outline"></ion-icon>
</div>