#video-container {
    width: 80vw;
    height: 350px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    margin-left: 10vw;
    margin-top: 25%;
}

video {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: initial;
}

mat-form-field {
    display: block;
    padding: 0 16px;
}

.input-container {
    width: 80vw;
}

h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 18px;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
}