
<ion-content>
<h2>Filtrar Estacionamentos</h2>


<div class="filter-container">
<div class="search-container">
<mat-label>Nome do estacionamento</mat-label>
<ion-searchbar animated="true" [(ngModel)]="parkingNameSearch"></ion-searchbar>
</div>

<div class="locale-container">
<mat-label>Região</mat-label>
<mat-form-field appearance="standard">
    <mat-select [(value)]="selected">
      <mat-option value="Sul">Sul</mat-option>
      <mat-option value="Leste">Leste</mat-option>
      <mat-option value="Oeste">Oeste</mat-option>
      <mat-option value="Norte">Norte</mat-option>
    </mat-select>
  </mat-form-field>
</div>

  <div class="price-container">
      
  <mat-label>Preço</mat-label>

  <div class="prices-filters">

    <div class="input-value-container">
      <mat-form-field>
        <mat-label>Preço Mínimo</mat-label>
        <input matInput currencyMask [(ngModel)]="minValue" 
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', max: '499', allowNegative: 'false'}">
      </mat-form-field>
      
      <mat-icon (click)="subtractMinValue()" class="circle-button minus">remove_circle</mat-icon>
      <mat-icon (click)="addMinValue()" class="circle-button add">add_circle</mat-icon>
    </div>
  
    <div class="input-value-container">
  <mat-form-field>
    <mat-label>Preço Máximo</mat-label>
    <input matInput currencyMask [(ngModel)]="maxValue" 
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', max: '499', allowNegative: 'false'}">
  </mat-form-field>

  <mat-icon (click)="subtractMaxValue()" class="circle-button minus">remove_circle</mat-icon>
  <mat-icon (click)="addMaxValue()" class="circle-button add">add_circle</mat-icon>
  </div>
</div>
</div>

  <div class="avaliation-container">
    <div>
   <mat-label class="avaliation">Avaliação</mat-label>
   <ngb-rating [(rate)]="currentRate" [max]="5">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100">&#9733;</span>
    </ng-template>
  </ngb-rating>
  </div>
  </div>
<button mat-raised-button color="primary" class="filter" >Pesquisar</button>
</div>

</ion-content>