
<ion-content>
<h2>Filtrar Estacionamentos</h2>


<div class="filter-container">
<div class="search-container">
<mat-label>Nome do estacionamento</mat-label>
<ion-searchbar animated="true"></ion-searchbar>
</div>

  <div class="price-container">
      
  <mat-label>Preço</mat-label>

  <div class="prices-filters">

    <div class="input-value-container">
      <mat-form-field>
        <mat-label>Preço Mínimo</mat-label>
        <input matInput currencyMask [(ngModel)]="minValue" name="minValue" ngDefaultControl
              [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', max: '499', allowNegative: 'false'}">
      </mat-form-field>
      
      <mat-icon (click)="subtractMinValue()" class="circle-button minus">remove_circle</mat-icon>
      <mat-icon (click)="addMinValue()" class="circle-button add">add_circle</mat-icon>
    </div>
  
    <div class="input-value-container">
  <mat-form-field>
    <mat-label>Preço Máximo</mat-label>
    <input matInput currencyMask [(ngModel)]="maxValue" name="maxValue" ngDefaultControl
          [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',', max: '499', allowNegative: 'false'}">
  </mat-form-field>

  <mat-icon (click)="subtractMaxValue()" class="circle-button minus">remove_circle</mat-icon>
  <mat-icon (click)="addMaxValue()" class="circle-button add">add_circle</mat-icon>
  </div>
</div>
</div>

  <div class="avaliation-container">
    <div>
   <mat-label class="avaliation">Avaliação</mat-label>
   <ngb-rating [(rate)]="filterValues.user_avaliation" [max]="5">
    <ng-template let-fill="fill" let-index="index">
      <span class="star" [class.filled]="fill === 100">&#9733;</span>
    </ng-template>
  </ngb-rating>
  </div>
  </div>
<button mat-raised-button color="primary" class="filter" (click)="filter()">Pesquisar</button>
</div>

</ion-content>