<ion-header>
  <ion-toolbar>
   
    <ion-title>
      <div class="header-title">
      <ion-icon name="arrow-back-outline" class="arrow-back" (click)="goBack()">
      </ion-icon>
      Opções de Pagamento
      </div>
    </ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2 class="title">Escolha uma forma de pagamento</h2>
   
  <div class="credit-cards-container">
    <div class="credit-cards-title">
    <img src="../../assets/images/credit-cards.png">
    <h2 class="title">Cartões cadastrados</h2>
  </div>

    <ion-item class="credit-cards" *ngFor="let card of creditCards">
      <img src="../../assets/images/visa.png">
        <div class="card-name"> 
          <span class="flag-name">Mastercard</span>
          <span>final: {{card.numberCard.substring(card.numberCard.length-4,card.numberCard.length)}}</span>
        </div>
        <ion-checkbox class="checkbox" mode="ios" (click)="setIdCreditCard(card.id_card)"></ion-checkbox>
      </ion-item>

  </div>

  <div class="add-new-card" routerLink="/register-card">
    <mat-icon class="add-icon">add_circle_outline</mat-icon>
    <span>Cadastrar novo cartão</span>
  </div>

  <div class="default-card">
    <span>Salvar como Padrão</span>
    <ion-toggle [(ngModel)]="asDefaultBoolean"></ion-toggle>
  </div>

  <button mat-button class="payment-button" (click)="pay()">
    <span>Pagar</span>
    <span class="value" >R$ {{leaseValue}}</span>
  </button>
  
  
</ion-content>
