<ion-content>
  <div class="image-container" (click)="goBack()">
    <mat-icon class="arrow-back" >arrow_circle_left</mat-icon>
    <!-- <ion-icon class="arrow-back" name="arrow-back-outline"></ion-icon> -->
    <img src="{{parking.image_url}}">
  </div>

  <div class="details-container">

  <div class="avaliation">
    <ion-icon *ngFor="let rat of rating" class="star" name="star"></ion-icon>
  </div>


  <h2 class="parking-name">{{parking.name}}</h2>

  <div class="location">
    <mat-icon class="location-icon">location_on</mat-icon>
     <span class="address">{{parking.address}} ({{parking.reference_point}})</span>
  </div>
  <ion-item-divider></ion-item-divider>

  <div class="vacancies-title">
  <mat-icon class="car-icon"> directions_car_filled</mat-icon>
  <h2 class="disponible-vacancies">
    Vagas disponíveis: {{parking.available_vacancies}}</h2>
  </div>

  <div class="hour-price">
    <mat-icon class="money-icon">paid</mat-icon>
    <h2>Valor da hora: R${{parking.hour_price}}</h2>
  </div>

  <div class="monthly-price" *ngIf="parking.monthly">
    <div class="monthly-value-title">
      <img class="monthly-icon" src="../../assets/images/montly.png">
      <h2>Valor da mensalidade: R${{parking.monthly_price}}</h2>
    </div>
    <mat-checkbox color="primary" (change)="addMonthly($event)" value="parking.monthly_price"></mat-checkbox>
  </div>
  <ion-item-divider></ion-item-divider>

  <div class="services-title">
    <mat-icon class="car-icon"> local_car_wash </mat-icon>
    <h2 class="disponible-services">Serviços dísponíveis:</h2>
</div>
<p *ngIf="parking.services_available.length == 0" style="margin-left:40px;">Sem serviços disponíveis.</p>
  <div class="services-container" *ngFor="let service of parking.services_available">
    <mat-icon class="vertical-line">horizontal_rule</mat-icon>
    <span class="service-title">{{service.service_name}} - R$ {{service.service_price}}</span>
    <mat-checkbox color="primary" (change)="addService($event,service)" value="{{service.service_price}}">
     </mat-checkbox>
  </div>

  <ion-item-divider></ion-item-divider>
  <div class="value-description">

    <h2 class="description">Descrição dos itens</h2>

    <div class="vacancy-price" *ngIf="!monthly">
      <ion-icon name="caret-forward-outline"></ion-icon>
      <span>Valor da vaga/hora: <span class="prefix">R$</span> <span>{{parking.hour_price}}</span></span>
    </div>

    <div class="vacancy-price" *ngIf="monthly">
      <ion-icon name="caret-forward-outline"></ion-icon>
      <span>Valor vaga/mês: <span class="prefix">R$</span> <span>{{parking.monthly_price}}</span></span>
    </div>

    <div class="services-price">
      <ion-icon name="caret-forward-outline"></ion-icon>
      <span>Serviços: <span class="prefix">R$</span> <span>{{totalServiceValue}}</span></span>
      </div>
    </div>
 
    <div class="subtotal">
      <h2>Subtotal <span class="prefix price">R$</span> <span class="price">{{subtotal}}</span></h2>
    </div>

  <button mat-raised-button class="rent" (click)="rentVacancy()">Alugar Vaga</button>

</div>
  
</ion-content>