.services-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left: 2px;
    padding-top: 16px;
    flex-direction: row;
}

.img {
    height: 200px;
}

.value {
    padding-left: 16px;
    display: flex;
    align-items: center;
    margin-top: 50px;
    .price {
        color: brown;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .prefix {
        margin-left: 4px;
    }
}

.total-value {
    color: black;
    margin-right: 8px;
    font-weight: 400;
    letter-spacing: -1px;
}

.user-avaliation {
    padding-left: 8px;
}

.parking-name {
    text-align: center;
    letter-spacing: 0.5px;
    font-size: 22px;
    margin-top: 18px;
}

.disponible-services {
    padding-left: 8px;
    margin-top: 25px;
    font-size: 16px;
}

.rent {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius: 40px;
    width: 80vw;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.arrow-back {
    position: absolute;
    padding: 8px;
    font-size: 42px;
    color: black;
}

.avaliation {
    display: flex;
    font-size: 18px;
    padding: 8px;
}

.star {
    color: brown;
}

.disponible-vacancies {
    padding-left: 8px;
    font-size: 16px;
}

.car-icon {
    color: lightgrey;
}

.services-title {
    display: flex;
    align-items: center;
    margin-left: 8px;
    font-weight: 400;
}

.vacancies-title {
    display: flex;
    padding-top: 25px;
    margin-left: 8px;
}

ion-item-divider {
    margin-top: 8px;
    margin-bottom: 8px;
    min-height: 8px;
    width: 80vw;
    margin-left: 10vw;
}

mat-checkbox {
    transform: scale(1.4);
    margin-top: 5px;
    margin-left: auto;
    margin-right: 42px;
}

.service-title {
    font-size: 16px;
}

.vertical-line {
    color: lightgrey;
    padding-right: 4px;
    transform: rotate(90deg);
}

.total-value, .price {
    font-weight: normal !important;
}
