
<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
        <ion-icon name="arrow-back-outline" class="arrow-back" routerLink="/register-page">
        </ion-icon>
          Finalizar Cadastro
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <mat-form-field class="form-input" appearance='outline' color='primary'>
        <mat-label>Marca do carro:</mat-label>
        <input matInput [(ngModel)]="user.car.brand"> 
    </mat-form-field>
    
    <mat-form-field class="form-input" appearance='outline' color='primary'>
        <mat-label>Modelo do carro:</mat-label>
        <input matInput [(ngModel)]="user.car.model">
    </mat-form-field>
    
    <mat-form-field class="form-input" appearance='outline' color='primary'>
        <mat-label>Cor do carro:</mat-label>
        <input matInput [(ngModel)]="user.car.color">
    </mat-form-field>
    
    <mat-form-field class="form-input" appearance='outline' color='primary'>
        <mat-label>Senha</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="user.password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
      </mat-form-field>
    
    
    <button mat-raised-button [class.disable-button]="!checked" color="primary" 
            class="finish-register" (click)="finishRegister()">Finalizar</button>
  
    <div class="terms">
      <mat-checkbox  [(ngModel)]="checked" color="primary">  </mat-checkbox>
      <p>Declaro que li e concordo com os <span class="link">termos</span> e <span  class="link">condições</span></p>
       
     
    </div>
  
</ion-content>

