<ion-header>
  <ion-toolbar>
   
    <ion-title>
      <div class="header-title">
      <ion-icon name="arrow-back-outline" class="arrow-back" (click)="goBack()">
      </ion-icon>
      Gerenciar pagamentos
      </div>
    </ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content>
   

  <ion-item-sliding>
    <ion-item>
      <div class="card">
          <img src="../../assets/images/mastercard-logo-7.png" class="card-flag">
     
        <div class="name-container">
          <span class="card-number">**** **** **** 5000</span>
          <span class="card-name">Leandro Tecioni Drumond</span>
        </div>
        <div class="valid-container">
        <span>Válido até</span>
        <span class="expiry-date">02/25</span>
        </div>
      </div>
    </ion-item>

    <div class="remove-card" (click)="removeCardConfirmation()">
      <mat-icon>remove_circle_outline</mat-icon>
      <span>Remover Cartão</span>
    </div>

    <ion-item-options side="start">
      <ion-item-option>
       <button><mat-icon>navigate_next</mat-icon></button>
      </ion-item-option>
    </ion-item-options>

  <ion-item-options side="end">
    <ion-item-option>
     <button><mat-icon>navigate_next</mat-icon></button>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>


  <button mat-fab class="add-button" routerLink="/register-card">
    <mat-icon>add</mat-icon>
  </button>
</ion-content>
