<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
      <ion-icon name="arrow-back-outline" class="arrow-back" (click)="goBack()">
      </ion-icon>
      Termos e condições
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
   <h2>Termos e condições</h2>
   <img src="../../assets/images/terms-icon.png">
  </div>

  <div class="text">
   
    <div class="text first-paragraph">
    <h2>TERMO DE USO</h2>
    <h2>Quais informações estão presentes neste documento?</h2>
    <p>Neste Termo de Uso, o usuário do serviço Smart Parking - Gestão de estacionamentos encontrará informações sobre: o funcionamento do serviço e as regras aplicáveis a ele; o arcabouço legal relacionado à prestação do serviço; as responsabilidades do usuário ao utilizar o serviço; as responsabilidades da administração pública ao prover o serviço; informações para contato, caso exista alguma dúvida ou seja necessário atualizar informações; e o foro responsável por eventuais reclamações caso questões deste Termo de Uso tenham sido violadas.</p>
    </div>

<div class="text second-paragraph">
 <p>Além disso, na Política de Privacidade, o usuário do serviço Smart Parking - Gestão de estacionamentos encontrará informações sobre: qual o tratamento dos dados pessoais realizados, de forma automatizada ou não, e a sua finalidade; os dados pessoais dos usuários necessários para a prestação do serviço; a forma como eles são coletados; se há o compartilhamento de dados com terceiros; e quais as medidas de segurança implementadas para proteger os dados.</p>
</div>
 
<div class="text third-paragraph">
<h2>Aceitação do Termo de Uso e Política de Privacidade</h2>
<p>Ao utilizar os serviços, o usuário confirma que leu e compreendeu os Termos e Políticas aplicáveis ao serviço Smart Parking - Gestão de estacionamentos e concorda em ficar vinculado a eles.</p>
</div>

<div class="text fourth-paragraph">
 <h2>Definições</h2>
 <p>Para melhor compreensão deste documento, neste Termo de Uso e Política de Privacidade, consideram-se:</p>
 <p>Agentes de tratamento: o controlador e o operador.</p>
 <p>Banco de dados: Conjunto estruturado de dados pessoais, estabelecido em um ou em vários locais, em suporte eletrônico ou físico.</p>
 <p>Bloqueio: Suspensão temporária de qualquer operação de tratamento, mediante guarda do dado pessoal ou do banco de dados.</p>
 <p>Consentimento: Manifestação livre, informada e inequívoca pela qual o titular concorda com o tratamento de seus dados pessoais para uma finalidade determinada.</p>
 <p>Controlador: pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais.</p>
 <p>Dado pessoal: informação relacionada a pessoa natural identificada ou identificável.</p>
 <p>Dado pessoal sensível: Dado pessoal sobre origem racial ou étnica, convicção religiosa, opinião política, filiação a sindicato ou a organização de caráter religioso, filosófico ou político, dado referente à saúde ou à vida sexual, dado genético ou biométrico, quando vinculado a uma pessoa natural</p>
 <p>Titular: pessoa natural a quem se referem os dados pessoais que são objeto de tratamento.</p>
 <p>Tratamento: toda operação realizada com dados pessoais, como as que se referem a coleta, produção, recepção, classificação, utilização, acesso, reprodução, transmissão, distribuição, processamento, arquivamento, armazenamento, eliminação, avaliação ou controle da informação, modificação, comunicação, transferência, difusão ou extração.</p>
 <p>Lei Geral de Proteção de Dados: Lei Federal n. 13.709, de 14 de agosto de 2018, que dispõe sobre o tratamento de dados pessoais, inclusive nos meios digitais, por pessoa natural ou por pessoa jurídica de direito público ou privado, com o objetivo de proteger os direitos fundamentais de liberdade e de privacidade e o livre desenvolvimento da personalidade da pessoa natural.</p>
 <p>Usuários (ou "Usuário", quando individualmente considerado): todas as pessoas naturais que utilizarem o serviço Smart Parking - Gestão de estacionamentos.</p>
 <p>Validação biográfica: Conforme a Decreto nº 10.543, de 13 de novembro de 2014, a validação biográfica é definida como a confirmação da identidade da pessoa natural mediante comparação de fatos da sua vida, tais como nome civil ou social, data de nascimento, filiação, naturalidade, nacionalidade, sexo, estado civil, grupo familiar, endereço e vínculos profissionais, com o objetivo de identificá-la unicamente com médio grau de segurança.</p>
</div>
 
<div class="text">
  <h2>Quais são as leis e normativos aplicáveis a esse serviço?</h2>
  <p>-Lei nº 12.965, de 23 de abril de 2014: Marco Civil da Internet – Estabelece princípios, garantias, direitos e deveres para o uso da Internet no Brasil.</p>
</div>

<div class="text">
  <h2>Descrição do serviço</h2>
  <p>Com a finalidade de auxiliar os proprietários de estacionamento de pequeno e médio porte, o Smart Parking foi construído para gestionar o aluguel de vagas em estacionamentos preexistentes. Os dados coletados, serão utilizados para cadastrar o usuário na plataforma e permitir que o mesmo faça o uso da aplicação. Dessa forma, o usuário pode gestionar seu estacionamento ou alugar vagas em locais cadastrados.</p>
</div>

<div class="text">
<h2>Quais são os direitos do usuário do serviço?</h2>
<p>O usuário do serviço possui os seguintes direitos, conferidos pela Lei de Proteção de Dados Pessoais:</p>
<p><b>- Direito de confirmação e acesso (Art. 18, I e II): </b>é o direito do usuário de obter do serviço a confirmação de que os dados pessoais que lhe digam respeito são ou não objeto de tratamento e, se for esse o caso, o direito de acessar os seus dados pessoais.</p>
<p><b>- Direito de retificação (Art. 18, III): </b> é o direito de solicitar a correção de dados incompletos, inexatos ou desatualizados.</p>
<p><b>- Direito à limitação do tratamento dos dados (Art. 18, IV):</b> é o direito do usuário de limitar o tratamento de seus dados pessoais, podendo exigir a eliminação de dados desnecessários, excessivos ou tratados em desconformidade com o disposto na Lei Geral de Proteção de Dados.</p>
<p><b>- Direito de oposição (Art. 18, § 2º):</b> é o direito do usuário de, a qualquer momento, se opor ao tratamento de dados por motivos relacionados com a sua situação particular, com fundamento em uma das hipóteses de dispensa de consentimento ou em caso de descumprimento ao disposto na Lei Geral de Proteção de Dados.</p>
<p><b>- Direito de portabilidade dos dados (Art. 18, V):</b> é o direito do usuário de realizar a portabilidade dos dados a outro fornecedor de serviço ou produto, mediante requisição expressa, de acordo com a regulamentação da autoridade nacional, observados os segredos comercial e industrial.</p>
<p><b>- Direito de não ser submetido a decisões automatizadas (Art. 20, LGPD):</b> o titular dos dados tem direito a solicitar a revisão de decisões tomadas unicamente com base em tratamento automatizado de dados pessoais que afetem seus interesses, incluídas as decisões destinadas a definir o seu perfil pessoal, profissional, de consumo e de crédito ou os aspectos de sua personalidade. </p>
</div>

<div class="text">
  <h2>Quais são as obrigações dos usuários que utilizam o serviço?</h2>
  <p> O usuário se responsabiliza pela precisão e veracidade dos dados informados e reconhece que a inconsistência destes poderá implicar a impossibilidade de se utilizar o serviço Smart Parking - Gestão de estacionamentos.</p>
  <p>Durante a utilização do serviço, a fim de resguardar e de proteger os direitos de terceiros, o usuário se compromete a fornecer somente seus dados pessoais, e não os de terceiros.</p>
  <p> O login e senha só poderão ser utilizados pelo usuário cadastrado. Ele se compromete em manter o sigilo da senha, que é pessoal e intransferível, não sendo possível, em qualquer hipótese, a alegação de uso indevido, após o ato de compartilhamento.</p>
  <p> O usuário do serviço é responsável pela atualização das suas informações pessoais e consequências na omissão ou erros nas informações pessoais cadastradas.</p>
  <p>  O Usuário é responsável pela reparação de todos e quaisquer danos, diretos ou indiretos (inclusive decorrentes de violação de quaisquer direitos de outros usuários, de terceiros, inclusive direitos de propriedade intelectual, de sigilo e de personalidade), que sejam causados à Administração Pública, a qualquer outro Usuário, ou, ainda, a qualquer terceiro, inclusive em virtude do descumprimento do disposto nestes Termos de Uso e Política de Privacidade ou de qualquer ato praticado a partir de seu acesso ao serviço.</p>
  <p> O Órgão não poderá ser responsabilizado pelos seguintes fatos:</p>
  <p>  a.             Equipamento infectado ou invadido por atacantes;</p>
  <p>b.             Equipamento avariado no momento do consumo de serviços;</p>
  <p> c.             Proteção do computador;</p>
  <p>d.             Proteção das informações baseadas nos computadores dos usuários;</p>
  <p>e.             Abuso de uso dos computadores dos usuários;</p>
  <p>f.              Monitoração clandestina do computador dos usuários;</p>
  <p>g.             Vulnerabilidades ou instabilidades existentes nos sistemas dos usuários;</p>
  <p>h.             Perímetro inseguro;</p>
  <p>  O uso comercial das expressões utilizadas em aplicativos como marca, nome empresarial ou nome de domínio, além dos conteúdos do serviço, assim como os programas, bancos de dados, redes, arquivos que permitem que o usuário acesse sua conta estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais.</p>
  <p>Ao acessar o aplicativo, os usuários declaram que irão respeitar todos os direitos de propriedade intelectual e os decorrentes da proteção de marcas, patentes e/ou desenhos industriais, depositados ou registrados em, bem como todos os direitos referentes a terceiros que porventura estejam, ou estiverem de alguma forma, disponíveis no serviço. O simples acesso ao serviço não confere aos usuários qualquer direito ao uso dos nomes, títulos, palavras, frases, marcas, patentes, imagens, dados e informações, dentre outras, que nele estejam ou estiverem disponíveis.</p>
  <p>A reprodução de conteúdo descritos anteriormente está proibida, salvo com prévia autorização por escrito ou caso se destinem ao uso exclusivamente pessoal e sem que em nenhuma circunstância os usuários adquiram qualquer direito sobre esses conteúdos.</p>
  <p>É vedada a utilização do serviço para finalidades comerciais, publicitárias ou qualquer outra que contrarie a finalidade para a qual foi concebido, conforme definido neste documento, sob pena de sujeição às sanções cabíveis na Lei nº 9.610/1998, que protege os direitos autorais no Brasil.</p>
  <p> Os visitantes e usuários assumem toda e qualquer responsabilidade, de caráter civil e/ou criminal, pela utilização indevida das informações, textos, gráficos, marcas, imagens, enfim, todo e qualquer direito de propriedade intelectual ou industrial do serviço.</p>
  <p>Em nenhuma hipótese, a Administração Pública Federal será responsável pela instalação no equipamento do Usuário ou de terceiros, de códigos maliciosos (vírus, trojans, malware, worm, bot, backdoor, spyware, rootkit, ou de quaisquer outros que venham a ser criados), em decorrência da navegação na Internet pelo Usuário.</p> 
</div>

<div class="text">
<h2>Quais são as responsabilidades da administração pública com meus dados?</h2>
<p>A Administração Pública, no papel de custodiante das informações pessoais dos Usuários, deve cumprir todas as legislações inerentes ao uso correto dos dados pessoais do cidadão de forma a preservar a privacidade dos dados utilizados na plataforma.</p>
<p>Publicar e informar ao Usuário as futuras alterações a estes Termos de Uso e Política de Privacidade por meio do sítio (https://sso.acesso.gov.br/), conforme o princípio da publicidade estabelecido no artigo 37, caput, da Constituição Federal.</p>
<p>Em nenhuma hipótese, a Administração Pública Federal será responsável pela instalação no equipamento do Usuário ou de terceiros, de códigos maliciosos (vírus, trojans, malware, worm, bot, backdoor, spyware, rootkit, ou de quaisquer outros que venham a ser criados), em decorrência da navegação na Internet pelo Usuário.</p>
<p>Em hipótese alguma, o serviço e seus colaboradores responsabilizam-se por eventuais danos diretos, indiretos, emergentes, especiais, imprevistos ou multas causadas, em qualquer matéria de responsabilidade, seja contratual, objetiva ou civil (inclusive negligência ou outras), decorrentes de qualquer forma de uso do serviço, mesmo que advertida a possibilidade de tais danos.</p>
<p>Tendo em vista que o serviço lida com informações pessoais, o usuário concorda que não usará robôs, sistemas de varredura e armazenamento de dados (como “spiders” ou “scrapers”), links escondidos ou qualquer outro recurso escuso, ferramenta, programa, algoritmo ou método coletor/extrator de dados automático para acessar, adquirir, copiar ou monitorar o serviço, sem permissão expressa por escrito do órgão.</p>
<p>Em se tratando de aplicativos em dispositivos móveis sua comercialização é expressamente proibida. Ao concordar com este Termo de Uso e utilizar o aplicativo móvel, o usuário receberá uma permissão do órgão para uso não comercial dos serviços oferecidos pelo aplicativo, o que, em nenhuma hipótese, fará dele proprietário do aplicativo móvel.</p>
<p>Caso o usuário descumpra o Termo de Uso ou a Política de Privacidade, ou seja investigado em razão de má conduta, o órgão poderá restringir seu acesso. O usuário também deverá responder legalmente por essa conduta.  </p>
<p>A Administração Pública poderá, quanto às ordens judiciais de pedido de informações, compartilhar informações necessárias para investigações ou tomar medidas relacionadas a atividades ilegais, suspeitas de fraude ou ameaças potenciais contra pessoas, bens ou sistemas que sustentam o serviço ou de outra forma necessária para cumprir com as obrigações legais. Caso ocorra, a Administração Pública notificará os titulares dos dados, salvo quando o processo estiver em segredo de justiça.</p>
<p>A Administração pública se compromete a preservar a funcionalidade do serviço ou aplicativo, utilizando um layout que respeite a usabilidade e navegabilidade, facilitando a navegação sempre que possível, e exibir as funcionalidades de maneira completa, precisa e suficiente, de modo que as operações realizadas no serviço sejam claras.</p>
</div>
 
<div class="text">
  <h2>Qual o contato pelo qual o usuário do serviço pode tirar suas dúvidas?</h2>
  <p>Caso o usuário tenha alguma dúvida sobre este Termo de Uso, ele poderá entrar em contato pelo e-mail smartparking@gmail.com.</p>
</div>
 
<div class="text">
  <h1>POLÍTICA DE PRIVACIDADE</h1>
<p>Esta Política de Privacidade foi elaborada em conformidade com a Lei Federal n. 12.965 de 23 de abril de 2014 (Marco Civil da Internet) e com a Lei Federal n. 13.709, de 14 de agosto de 2018 (Lei de Proteção de Dados Pessoais).</p>
<p>Esta Política de Privacidade poderá ser atualizada em decorrência de eventual atualização normativa, razão pela qual se convida o usuário a consultar periodicamente esta seção.</p>

<p>O site se compromete a cumprir as normas previstas na Lei Geral de Proteção de Dados (LGPD), e respeitar os princípios dispostos no Art. 6º:</p>
<p><b>I - finalidade: </b>realização do tratamento para propósitos legítimos, específicos, explícitos e informados ao titular, sem possibilidade de tratamento posterior de forma incompatível com essas finalidades;</p>
<p><b>II - adequação: </b>compatibilidade do tratamento com as finalidades informadas ao titular, de acordo com o contexto do tratamento;</p>
<p><b>III - necessidade: </b> limitação do tratamento ao mínimo necessário para a realização de suas finalidades, com abrangência dos dados pertinentes, proporcionais e não excessivos em relação às finalidades do tratamento de dados;</p>
<p><b>V - livre acesso: </b>Igarantia, aos titulares, de consulta facilitada e gratuita sobre a forma e a duração do tratamento, bem como sobre a integralidade de seus dados pessoais;</p>
<p><b>V - qualidade dos dados: </b>garantia, aos titulares, de exatidão, clareza, relevância e atualização dos dados, de acordo com a necessidade e para o cumprimento da finalidade de seu tratamento;</p>
<p><b>VI - transparência: </b>garantia, aos titulares, de informações claras, precisas e facilmente acessíveis sobre a realização do tratamento e os respectivos agentes de tratamento, observados os segredos comercial e industrial;</p>
<p><b>VII - segurança: </b>utilização de medidas técnicas e administrativas aptas a proteger os dados pessoais de acessos não autorizados e de situações acidentais ou ilícitas de destruição, perda, alteração, comunicação ou difusão;</p>
<p><b>VIII - prevenção: </b> adoção de medidas para prevenir a ocorrência de danos em virtude do tratamento de dados pessoais;</p>
<p><b>IX - não discriminação: </b>impossibilidade de realização do tratamento para fins discriminatórios ilícitos ou abusivos;</p>
<p><b>X - responsabilização e prestação de contas: </b>demonstração, pelo agente, da adoção de medidas eficazes e capazes de comprovar a observância e o cumprimento das normas de proteção de dados pessoais e, inclusive, da eficácia dessas medidas.</p>
 
<h2>Agentes de tratamento</h2>
<h2>A quem compete as decisões referentes ao tratamento de dados pessoais realizado no serviço Smart Parking - Gestão de estacionamentos (Controlador)?</h2>
<p>A Lei Geral de Proteção de Dados define como controlador, em seu artigo 5º:</p>
<p>Art. 5º, VI – controlador: pessoa natural ou jurídica, de direito público ou privado, a quem competem as decisões referentes ao tratamento de dados pessoais;</p>
<p>Para o serviço Smart Parking - Gestão de estacionamentos, as decisões referentes ao tratamento de dados pessoais são de responsabilidade do Smart Parking .</p>
<p>Endereço: Av. Marquês de São Vicente, 3001 - Água Branca, São Paulo - SP, 05037-040.</p>
<p>E-mail: smartparking@gmail.com.</p>
<p>Telefone: (11) 985724352.</p>

 
<h2>Quem realiza o tratamento de dados (Operador)?</h2>
<p>A Lei Geral de Proteção de Dados define como operador, em seu artigo 5º:</p>
<p>Art. 5º, VII - operador: pessoa natural ou jurídica, de direito público ou privado, que realiza o tratamento de dados pessoais em nome do controlador.</p>
<p>Para o serviço Smart Parking - Gestão de estacionamentos, o Controlador Smart Parking também atua como operador, ou seja, além de ser responsável pelas decisões referentes ao tratamento de dados pessoais, também realiza o tratamento de dados pessoais.</p>
 
<h2>Quais dados pessoais são tratados pelo serviço?</h2>

<p>A utilização, pelo usuário, de determinadas funcionalidades do serviço dependerá do tratamento dos seguintes dados pessoais:</p>
<p>-Nome completo</p>
<p>-Nome social</p>
<p>-Data de nascimento</p>
<p>-Sexo</p>
<p>-Número de inscrição no CPF</p>
<p>-Endereço de e-mail</p>
<p>-Endereço</p>
<p>-Localização do usuário</p>
<p>-Registro de acesso</p>
<p>-Foto do usuário</p>
<p>-Marca e modelo do veículo</p>

<h2>Como os dados são coletados?</h2> 

<p>Nome completo : Informado pelo usuário</p>
<p>Nome social : Informado pelo usuário</p>
<p>Data de nascimento : Informado pelo usuário</p>
<p>Sexo : Informado pelo usuário</p>
<p>Número de inscrição no CPF : Informado pelo usuário</p>
<p>Endereço de e-mail : Informado pelo usuário</p>
<p>Endereço : Informado pelo usuário</p>
<p>Localização do usuário : Localização do dispositivo</p>
<p>Registro de acesso : Informado pelo usuário</p>
<p>Foto do usuário : Informado pelo usuário</p>
<p>-Marca e modelo do veículo : Informado pelo usuário</p>

<h2>Para que fim utilizamos seus dados?</h2>
<p>Nome completo : O dado é necessário para identificação do usuário dentro do serviço</p>
<p>Nome social : O dado é necessário para identificação do usuário dentro do serviço</p>
<p>Data de nascimento : O dado é necessário para melhorar e personalizar a experiência do usuário</p>
<p>Sexo : O dado é necessário para melhorar e personalizar a experiência do usuário</p>
<p>Número de inscrição no CPF : O dado é necessário para identificação do usuário dentro do serviço</p>
<p>Endereço de e-mail : O dado é necessário para identificação do usuário dentro do serviço</p>
<p>Endereço : O dado é necessário para melhorar e personalizar a experiência do usuário</p>
<p>Localização do usuário : O dado é necessário para identificação do usuário dentro do serviço</p>
<p>Registro de acesso : O dado é necessário para identificação do usuário dentro do serviço</p>
<p>Foto do usuário : O dado é necessário para melhorar e personalizar a experiência do usuário</p>
<p>-Marca e modelo do veículo : O dado é necessário para identificação do usuário dentro do serviço</p>

<h2>Qual o tratamento realizado com os dados pessoais?</h2>

<p>Nome completo : ACESSO</p>
<p>Nome social : ACESSO</p>
<p>Data de nascimento : ARMAZENAMENTO</p>
<p>Sexo : ARMAZENAMENTO</p>
<p>Número de inscrição no CPF : ACESSO</p>
<p>Endereço de e-mail : ACESSO</p>
<p>Endereço : ARMAZENAMENTO</p>
<p>Localização do usuário : AVALIAÇÃO</p>
<p>Registro de acesso : ACESSO</p>
<p>Foto do usuário : ARMAZENAMENTO</p>
<p>-Marca e modelo do veículo : ACESSO</p>

<h2>Os dados pessoais utilizados no serviço são compartilhados?</h2>
<p>Os dados pessoais do usuário não são compartilhados com terceiros em nenhuma hipótese.</p>

 
<h2>Segurança no tratamento dos dados pessoais do usuário</h2>
<p>O servico Smart Parking - Gestão de estacionamentos se compromete a aplicar as medidas técnicas e organizativas aptas a proteger os dados pessoais de acessos não autorizados e de situações de destruição, perda, alteração, comunicação ou difusão de tais dados.</p>
<p> Para a garantia da segurança, serão adotadas soluções que levem em consideração: as técnicas adequadas; os custos de aplicação; a natureza, o âmbito, o contexto e as finalidades do tratamento; e os riscos para os direitos e liberdades do usuário.</p>
<p>O site utiliza criptografia para que os dados sejam transmitidos de forma segura e confidencial, de maneira que a transmissão dos dados entre o servidor e o usuário, e em retroalimentação, ocorra de maneira totalmente cifrada ou encriptada.</p>
<p>No entanto, o site se exime de responsabilidade por culpa exclusiva de terceiro, como em caso de ataque de hackers ou crackers, ou culpa exclusiva do usuário, como no caso em que ele mesmo transfere seus dados a terceiro. O serviço Smart Parking - Gestão de estacionamentos se compromete, ainda, a comunicar o usuário em prazo adequado caso ocorra algum tipo de violação da segurança de seus dados pessoais que possa lhe causar um alto risco para seus direitos e liberdades pessoais.</p>
<p>A violação de dados pessoais é uma violação de segurança que provoque, de modo acidental ou ilícito, a destruição, a perda, a alteração, a divulgação ou o acesso não autorizado a dados pessoais transmitidos, conservados ou sujeitos a qualquer outro tipo de tratamento.</p>
<p>Por fim, o site se compromete a tratar os dados pessoais do usuário com confidencialidade, dentro dos limites legais.</p>

<h2>O serviço Smart Parking - Gestão de estacionamentos utiliza cookies? </h2>
<p>Cookies são pequenos arquivos de texto enviados pelo site ao computador do usuário e que nele ficam armazenados, com informações relacionadas à navegação do site.</p>
<p>Por meio dos cookies, pequenas quantidades de informação são armazenadas pelo navegador do usuário para que nosso servidor possa lê-las posteriormente. Podem ser armazenados, por exemplo, dados sobre o dispositivo utilizado pelo usuário, bem como seu local e horário de acesso ao site.</p>
<p>É importante ressaltar que nem todo cookie contém dados pessoais do usuário, já que determinados tipos de cookies podem ser utilizados somente para que o serviço funcione corretamente. </p>
<p>As informações eventualmente armazenadas em cookies também são consideradas dados pessoais e todas as regras previstas nesta Política de Privacidade também são aplicáveis a eles.</p>
<p>O serviço Smart Parking - Gestão de estacionamentos não utiliza cookies.</p>

<h2>Este Termo de Uso pode ser alterado? </h2> 
<p>A presente versão desta Política de Privacidade foi atualizada pela última vez em: 03/11/2021</p>
<p>O editor se reserva o direito de modificar, a qualquer momento o site as presentes normas, especialmente para adaptá-las às evoluções do serviço Smart Parking - Gestão de estacionamentos, seja pela disponibilização de novas funcionalidades, seja pela supressão ou modificação daquelas já existentes.</p>
<p>Qualquer alteração e/ou atualização destes Termos de Uso e Política de Privacidade passará a vigorar a partir da data de sua publicação no sítio do serviço e deverá ser integralmente observada pelos Usuários.</p>

<h2>Qual o foro aplicável caso o usuário queira realizar alguma reclamação?</h2>
<p>Sem prejuízo de qualquer outra via de recurso administrativo ou judicial, todos os titulares de dados têm direito a apresentar reclamação à Autoridade Nacional de Proteção de Dados. </p>
<p>Este Termo será regido pela legislação brasileira. Qualquer reclamação ou controvérsia com base neste Termo será dirimida exclusivamente pela Justiça Estadual, na seção judiciária do domicílio do usuário.</p>

</div>
</div>

</ion-content>
