<ion-header>
  <ion-toolbar>
    <div class="arrow-container">
      <p class="city">São Paulo
      <p>
    </div>
    <div class="filter-container">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-searchbar animated="true" placeholder="Qual sua próxima parada?"></ion-searchbar>

  <mat-tab-group dynamicHeight mat-align-tabs="center">

    <mat-tab>

      <ng-template mat-tab-label>
        <ion-icon class="tab-icon" name="home-outline"></ion-icon>
        <span>Todos</span>
      </ng-template>

      <ng-container *ngFor="let parking of parkings">
        <div class="container" (click)="getParking(parking.id)">
          <img src="{{parking.image_url}}">
          <div class="avaliation">
            <ion-icon *ngFor="let rating of rating(parking.user_avaliation)" class="star" name="star"></ion-icon>
          </div>
          <h2>{{parking.name}}</h2>
          <div class="caracteristics">
            <p>Vagas disponíveis: {{parking.available_vacancies}}</p>
            <p class="price"><b>R$ {{parking.price}}</b></p>
          </div>
        </div>
      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="tab-icon" name="calendar-outline"></ion-icon>
        <span>Mensais</span>
      </ng-template>

      <ng-container *ngFor="let parking of parkings">
        <div class="container" (click)="getParking(parking.id)" *ngIf="parking.monthly">
          <img src="{{parking.image_url}}">
          <div class="avaliation">
            <ion-icon *ngFor="let rating of rating(parking.user_avaliation)" class="star" name="star"></ion-icon>
          </div>
          <h2>{{parking.name}}</h2>
          <div class="caracteristics">
            <p>Vagas disponíveis: {{parking.available_vacancies}}</p>
            <p class="price"><b>R$ {{parking.price}}</b></p>
          </div>
        </div>
      </ng-container>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <ion-icon class="tab-icon" name="star-outline"></ion-icon>
        <span>5 estrelas</span>
      </ng-template>

      <ng-container *ngFor="let parking of parkings">
        <div class="container" *ngIf="parking.user_avaliation == 5" (click)="getParking(parking.id)">
          <img src="{{parking.image_url}}">
          <div class="avaliation">
            <ion-icon *ngFor="let rating of rating(parking.user_avaliation)" class="star" name="star"></ion-icon>
          </div>
          <h2>{{parking.name}}</h2>
          <div class="caracteristics">
            <p class="price"><b>R$ {{parking.price}}</b></p>
            <p>Vagas disponíveis: {{parking.available_vacancies}}</p>
          </div>
        </div>
      </ng-container>

    </mat-tab>

  </mat-tab-group>

</ion-content>