h2 {
    margin-top: 40%;
    text-align: center;
}

mat-form-field {
    width: 80%;
    margin-left: 10%;
    margin-top: 32px;
}

button {
    width: 40%;
    height: 42px;
    border-radius: 20px;
    background: brown;
    color: white;
    margin-left: 30%;
    margin-top: 32px;
    font-size: 18px;
}