<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="header-title">
        <ion-icon name="arrow-back-outline" class="arrow-back" routerLink="/register-page">
        </ion-icon>
          Redefinir senha
        </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <h2>Redefinir senha</h2>
  <form [formGroup]="form">
  <mat-form-field class="form-input" appearance='outline' color="primary">
    <mat-label>E-mail  de acesso:</mat-label>
    <input type="email" matInput formControlName="email">
    <mat-error *ngIf="form.get('email').hasError('pattern')">Formato de email inválido</mat-error>
</mat-form-field>
</form>

<button>Redefinir</button>

</ion-content>
